#conteudo {
	background: linear-gradient( to bottom, LightBlue, rgb(243, 148, 100));
	float: left;
	margin-top: 45px;
	padding-top: 10px;
	
}

*{
	margin: 20;
	padding: 20;
}

body{
	font-size: 15px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background: #caeded
	
}

#navegacao {

	color: black;
	background: rgb(215, 208, 205);
	border: 2px solid #090909;
	height: 60px;
	position: fixed;
	width: 150%;
	top: 0;
}

#area{

	width: 650px;
	margin: 0 auto;
}

#assinatura{
	width: 650px;
}

#area-principal{

	width: 600px;
	margin: 30px auto 30px;
	
}

#logo{
	float: left;
	width: 20px;
	margin-top: 10px;

}

nav a {
	text-decoration: none;
	margin: 12px;
	float: right;
	text-align: center;
	position: relative;
	top: 8px;
	color: white;
}

nav a:hover{
	background: rgb(230, 230, 99);
	align-items: stretch;
}

#postagem{
	background: rgb(234, 229, 171);
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

#postagem2{
	background: rgb(239, 243, 194);
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
}


#img-postagem2{
	background:url(..//img/imagem7.jpg);
	background: rgb(239, 243, 194);
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
}
#cadastro{
	background: pink;
}

h2{
	color: #b9c941;
}

#rodapeprincipal{
	background: rgb(225, 192, 255);
	background-color: #a3a1ab;
	width: 450px;
}

a{

	text-decoration: none;	
	padding: 5px 10px;
}

a:link {
	color: #070907;

}


a:visited {

	color: #88998c;
}


a:hover{
    color: rgb(236, 183, 183)

}


a:active {

	color: #526872;
}


.azul {

	color: #655fb3;


}

.data-postagem{
    
	font-size: 14px;
	border-bottom: 1px solid #e51b1b;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
    float: justify;
}

.data-postagem2{
    
	font-size: 14px;
	border-bottom: 1px solid #e51b1b;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
    float: justify;
}
.img-postagem{
    float: justify;
    margin: 0 20px 1px 0;
    border-radius: 20%;
    box-shadow: 20px 20px 10px #b38ebd;
}

.img-postagem1{
	float: left;
	margin: 0 10px 5px 0;
	border-radius: 10%;
	box-shadow: 10px 10px 5px #8aa2f1;
	height: 200px;
	width: 300px;
}

.img-postagem2{
	float: left;
	margin: 0 10px 5px 0;
	border-radius: 10%;
	box-shadow: 10px 10px 5px #9cb9c4;
	height: 100px;
	width: 300px;
}

.postado{
	border-left: 5px solid #92f58e;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
	text-align: justify

}	
