		.menu{
			background: #3EEE685;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-size: 20px;
			padding: 10px;
		}

		a:link{/*não visitados*/
			color: #000000;
			text-decoration: none;
		}

		a:visited{/*visitados*/
			color: #A020F7;
		}

		a:hover{/*passar mouse*/
			color: #D2691E; /*8b4726*/
			background: #87CEEB;
		}

		a:active{/*clicados*/
			color: #ff1493;
		}

		.artigo {
			font-family: "opensans-regular", arial, sans-serif;
			background-color: #F5F5DC;
			border: 1px solid black;
			color: #333;
			font-size: 16px;
			padding-left: 15px;
			padding-right: 20px;
			text-align: justify;
			line-height: 32px;
			width: 500px;
			margin: 20px;
			float: left;
		}

		.artigo h4 {
			color: 3c4170c;
			font-family: "Helvetica Neue", arial, sans-serif;
			margin: 8px;
		}

		.imagem {
			float: right;
			width: 160px;
			padding: 05px;
			float: left;
		}

		.postagemp {
			clear: both;
		}

		.footerp {
			background: #F0F8FF;
			clear:  both;
		}

		body {
			background: #F0F8FF;
		}
}